## Ejercicios Clase 1 de Estadística univariada y control de flujo

### Conceptualización y Operacionalización

Existen tres dimensiones a considerar en los `datos`:
- Estructura específica de los datos ingresados.
- Desde el conocimiento específico de la industria.
- Desde la estadística.

### Momentos Estadísticos

Cuatro dimensiones a tomar en cuenta en el `análisis descriptivo de los datos`:

- Medidas de Tendencia Central
- Medidas de Dispersión
- Medidas de Sesgo
- Medidas de Kurtosis

### Medida de Tendencia Central: Media

__Objetivo:__ Generar una cifra que represente de mejor
manera la muestra que estudiamos.

In [8]:
import pandas as pd
import numpy as np

dicci = {"altura":[1.64,1.23,1.87,1.90,1.45,1.67,1.93,1.64, 1.67]}
df = pd.DataFrame(data = dicci)

print(sum(df["altura"])/len(df["altura"]))
print(df["altura"].mean())
print(np.mean(df["altura"]))

1.6666666666666667
1.6666666666666667
1.6666666666666667

### Medida de Tendencia Central: Moda

- __Objetivo:__ Identificar cuál es el valor observado con una mayor frecuencia en la
muestra

La implementación de la media en Python Nativo es más compleja.
Haremos uso de scipy:

In [10]:
import scipy.stats as stats
stats.mode(df["altura"])

ModeResult(mode=array([1.64]), count=array([2]))

### Medida de Tendencia Central: Mediana

- __Objetivo:__ Identificar el punto equidistante en una variable. 

La implementación es fácil utilizando Numpy:

In [11]:
np.median(df["altura"])

1.67

### Medida de Dispersión: Varianza

- __Objetivo:__ reportar qué tan dispersos están las observaciones respecto al punto de
origen. La implementación en Python nativo es un poco más compleja.

Afortunadamente, tanto Pandas como Numpy presentan implementaciones más
fáciles.

In [12]:
df["altura"].var()

0.05052500000000001

In [13]:
np.var(df["altura"])

0.04491111111111112

### Medida de Dispersión: Desviación Estándar

- La desviación estándar está fuertemente asociada con la varianza.
- Para obtenerla, es necesario obtener la raíz cuadrada de ésta última

In [14]:
df["altura"].std()

0.22477766792989023

In [15]:
np.std(df["altura"])

0.21192241767003112

In [16]:
for i in df["altura"]:
    print(i, "es del tipo {}".format(type(i)))

1.64 es del tipo <class 'float'>
1.23 es del tipo <class 'float'>
1.87 es del tipo <class 'float'>
1.9 es del tipo <class 'float'>
1.45 es del tipo <class 'float'>
1.67 es del tipo <class 'float'>
1.93 es del tipo <class 'float'>
1.64 es del tipo <class 'float'>
1.67 es del tipo <class 'float'>

In [19]:
for i in df["altura"]:
    print(i + 1.0)

2.6399999999999997
2.23
2.87
2.9
2.45
2.67
2.9299999999999997
2.6399999999999997
2.67

In [20]:
help(df.add)

Help on method add in module pandas.core.ops:

add(other, axis='columns', level=None, fill_value=None) method of pandas.core.frame.DataFrame instance
    Get Addition of dataframe and other, element-wise (binary operator `add`).

    Equivalent to ``dataframe + other``, but with support to substitute a fill_value
    for missing data in one of the inputs. With reverse version, `radd`.

    Among flexible wrappers (`add`, `sub`, `mul`, `div`, `mod`, `pow`) to
    arithmetic operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

    Parameters
    ----------
    other : scalar, sequence, Series, or DataFrame
        Any single or multiple element data structure, or list-like object.
    axis : {0 or 'index', 1 or 'columns'}
        Whether to compare by the index (0 or 'index') or columns
        (1 or 'columns'). For Series input, axis to match Series index on.
    level : int or label
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    fill_value : float or None, default None
        Fill existing missing (NaN) values, and any new element needed for
        successful DataFrame alignment, with this value before computation.
        If data in both corresponding DataFrame locations is missing
        the result will be missing.

    Returns
    -------
    DataFrame
        Result of the arithmetic operation.

    See Also
    --------
    DataFrame.add : Add DataFrames.
    DataFrame.sub : Subtract DataFrames.
    DataFrame.mul : Multiply DataFrames.
    DataFrame.div : Divide DataFrames (float division).
    DataFrame.truediv : Divide DataFrames (float division).
    DataFrame.floordiv : Divide DataFrames (integer division).
    DataFrame.mod : Calculate modulo (remainder after division).
    DataFrame.pow : Calculate exponential power.

    Notes
    -----
    Mismatched indices will be unioned together.

    Examples
    --------
    >>> df = pd.DataFrame({'angles': [0, 3, 4],
    ...                    'degrees': [360, 180, 360]},
    ...                   index=['circle', 'triangle', 'rectangle'])
    >>> df
               angles  degrees
    circle          0      360
    triangle        3      180
    rectangle       4      360

    Add a scalar with operator version which return the same
    results.

    >>> df + 1
               angles  degrees
    circle          1      361
    triangle        4      181
    rectangle       5      361

    >>> df.add(1)
               angles  degrees
    circle          1      361
    triangle        4      181
    rectangle       5      361

    Divide by constant with reverse version.

    >>> df.div(10)
               angles  degrees
    circle        0.0     36.0
    triangle      0.3     18.0
    rectangle     0.4     36.0

    >>> df.rdiv(10)
                 angles   degrees
    circle          inf  0.027778
    triangle   3.333333  0.055556
    rectangle  2.500000  0.027778

    Subtract a list and Series by axis with operator version.

    >>> df - [1, 2]
               angles  degrees
    circle         -1      358
    triangle        2      178
    rectangle       3      358

    >>> df.sub([1, 2], axis='columns')
               angles  degrees
    circle         -1      358
    triangle        2      178
    rectangle       3      358

    >>> df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
    ...        axis='index')
               angles  degrees
    circle         -1      359
    triangle        2      179
    rectangle       3      359

    Multiply a DataFrame of different shape with operator version.

    >>> other = pd.DataFrame({'angles': [0, 3, 4]},
    ...                      index=['circle', 'triangle', 'rectangle'])
    >>> other
               angles
    circle          0
    triangle        3
    rectangle       4

    >>> df * other
               angles  degrees
    circle          0      NaN
    triangle        9      NaN
    rectangle      16      NaN

    >>> df.mul(other, fill_value=0)
               angles  degrees
    circle          0      0.0
    triangle        9      0.0
    rectangle      16      0.0

    Divide by a MultiIndex by level.

    >>> df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
    ...                              'degrees': [360, 180, 360, 360, 540, 720]},
    ...                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
    ...                                    ['circle', 'triangle', 'rectangle',
    ...                                     'square', 'pentagon', 'hexagon']])
    >>> df_multindex
                 angles  degrees
    A circle          0      360
      triangle        3      180
      rectangle       4      360
    B square          4      360
      pentagon        5      540
      hexagon         6      720

    >>> df.div(df_multindex, level=1, fill_value=0)
                 angles  degrees
    A circle        NaN      1.0
      triangle      1.0      1.0
      rectangle     1.0      1.0
    B square        0.0      0.0
      pentagon      0.0      0.0
      hexagon       0.0      0.0

In [23]:
for i in df["altura"].index:
    if(i % 2 == 0):
        print(df["altura"][i]) #imprimir solo la altura de las posiciones par

1.64
1.87
1.45
1.93
1.67

In [24]:
import pandas as pd
import numpy as np

In [26]:
# leemos el csv alumnos.csv
data = pd.read_csv("/Users/sariasc/Projects/python/classroom_exercises/python_classes_desafioltm/experiencia_fundamentos_data/alumnos.csv")

In [28]:
mean_peso = data["peso"].mean()
mean_peso

76.14285714285714

In [29]:
for i in data["peso"]:
    if i > mean_peso:
        print(i, "tiene un peso sobre el promedio")
    else:
        print(i, "tiene un peso bajo el promedio")

60 tiene un peso bajo el promedio
83 tiene un peso sobre el promedio
70 tiene un peso bajo el promedio
58 tiene un peso bajo el promedio
98 tiene un peso sobre el promedio
100 tiene un peso sobre el promedio
62 tiene un peso bajo el promedio
83 tiene un peso sobre el promedio
56 tiene un peso bajo el promedio
112 tiene un peso sobre el promedio
72 tiene un peso bajo el promedio
57 tiene un peso bajo el promedio
68 tiene un peso bajo el promedio
78 tiene un peso sobre el promedio
67 tiene un peso bajo el promedio
74 tiene un peso bajo el promedio
93 tiene un peso sobre el promedio
63 tiene un peso bajo el promedio
102 tiene un peso sobre el promedio
78 tiene un peso sobre el promedio
65 tiene un peso bajo el promedio

In [30]:
for i in data:
    print(i)

nombre
altura
peso
edad
sexo

In [31]:
data.head()

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [33]:
for colname, serie in data.iteritems():
    print(colname)
    print(serie[:5])

nombre
0         Hugo
1         Paco
2         Luis
3        Diana
4    Francisco
Name: nombre, dtype: object
altura
0    1.67
1    1.73
2    1.62
3    1.58
4    1.86
Name: altura, dtype: float64
peso
0    60
1    83
2    70
3    58
4    98
Name: peso, dtype: int64
edad
0    23
1    25
2    28
3    21
4    28
Name: edad, dtype: int64
sexo
0    h
1    h
2    h
3    m
4    h
Name: sexo, dtype: object

In [35]:
#con iteritems itera por columna
for colname, serie in data.iteritems():
    if(serie.dtype == "object"):
        print(colname, " es un objeto")
    else:
        print(colname, "la media es: ", serie.mean())

nombre  es un objeto
altura la media es:  1.7109523809523806
peso la media es:  76.14285714285714
edad la media es:  26.333333333333332
sexo  es un objeto